<ul>
  <li>
    <%= link_to 'new article',  articles_new_path %>
  </li>
  <li>
<<<<<<< HEAD
    <%= link_to 'view articles',  root_path %>
  </li>
=======
    <%= link_to 'index', root_path %>
  </li>

>>>>>>> 4974c97e40065fa40b8ecedb780b7196608d8a9c
</ul>

...